<div class="container text-center">

<h1>Edit <%=@post.title%></h1>
  <div class="col-xs-8 col-xs-offset-2">
  <%= simple_form_for :post, url: post_path(@post), method: :patch do |f| %>

    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@post.errors.count, "error") %> prohibited this article from being saved:
        </h2>
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h3><%= f.input :title, label: "post title" %></h3>
    <h3><%= f.input :link, label: "post link" %></h3>
    <h5><%= f.button :submit %></h5>

  <% end %>
</div>
<% link_to 'Back to list', posts_path %>

</div>